.footer {
    background-color: #1E1E1E;
    color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.centered {
    justify-content: center;
    text-align: center;
}
